*{
  padding: 0px;
}
body{
  background: #ffff;
}

/* Dropdown Button */
.btn {
    background-color: #292929;
    color: white;
    padding: 16px;
    font-size: 24px;
    border: none;
    margin: 25px 0px 0px 150px;
    border-radius: 10px;
  }
  #Logo {
    margin: 20px;
  }
  
  

  #Welcome #content{
    background-color: #292929;
    text-align: center;
  }

  a {
    text-decoration: none;
    color: white;
  }

  ul {
    
   
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ff6a6a;
 
  }
  
  li{
      display: inline;
      float: left;
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }
  #content{
    margin-top: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    background: #cccccc;
    color: black;
    font-family: 'Oswald', sans-serif;
    font-size: large;
  }
  input{
	  max-width: 60px;
  }